@import "./paragraphs.extends.css";
@import "./paragraphs.css";
@import "./details.css";
@import "./dl.css";

@using content {
  :top {
    line-height: var(--sbdoc-line-height);
    --sbdoc-local-accent-fg: var(--sb-fg-gray-stronger);
    --sbdoc-local-accent-bg: var(--sb-bg-gray-ultramuted);
    --sbdoc-local-accent-border: var(--sb-fg-gray-muted);
  }

  @section annotations {
    :not(.custom-block, details) {
      &.protip {
        &::before {
          align-self: center;
          font-family: var(--icons);
          font-size: calc(1em * var(--sb-ratio-down1));
          content: var(--sb-icon-protip) var(--sb-icon-after);
        }
      }

      &.optimization {
        &::before {
          align-self: center;
          font-family: var(--icons);
          font-size: calc(1em * var(--sb-ratio-down1));
          content: var(--sb-icon-optimization) var(--sb-icon-after);
        }
      }
    }
  }
}
