/**
 * If `sbdoc-local-size-multiple` is supplied, all other sizes (including
 * defaults) will be multiplied by `sbdoc-local-size-multiple`.
 * 
 * @param {size} [sbdoc-local-line-height = sbdoc-line-height]
 * @params {to %inline} ...rest
 */
%paragraph {
  @extend %inline;
  --sbdoc-internal-multiple: var(--sbdoc-local-size-multiple, 1);
}

/**
 * If `sbdoc-local-size-multiple` is supplied, all other sizes (including
 * defaults) will be multiplied by `sbdoc-local-size-multiple`.
 * 
 * @param {size} [sbdoc-local-size-multiple = 1]
 * @param {size} [sbdoc-local-font-size = sbdoc-font-size]
 */
%inline {
  --sbdoc-internal-multiple: var(--sbdoc-local-size-multiple, 1);
  font-family: var(--sbdoc-local-font-family, var(--sbdoc-font-body));
  font-size: var(
    --sbdoc-local-font-size,
    calc(var(--sbdoc-font-size) * var(--sbdoc-internal-multiple))
  );
}

%accented {
  color: var(--sbdoc-accent-fg);
  background-color: var(--sbdoc-accent-bg);
  border: 1px solid var(--sbdoc-accent-border);
  padding-inline: var(--sbdoc-ui-inline-padding);
  border-radius: var(--sbdoc-radius);
  padding-block: 0;
}
