.custom-block.philosophy {
  --scale: var(--scaleup-1);
  --current-color: var(--c-brand);
}

.custom-block {
  --current-color: hsl(
    var(--ch-current-block),
    var(--cs-block),
    var(--cl-block-fg)
  );
  background-color: hsl(
    var(--ch-current-block),
    var(--cs-block-bg),
    var(--cl-block-bg)
  );
  border-color: hsl(
    var(--ch-current-block),
    var(--cs-block),
    var(--cl-block-border)
  );
}

.custom-block.tip,
.custom-block.info,
.custom-block.warning,
.custom-block.danger {
  margin: 1rem 0;
  border-left: 0.5rem solid;
  padding: 0.1rem 1.5rem;
  overflow-x: auto;
}

.custom-block.tip {
  --ch-current-block: var(--ch-tip);
}

.custom-block.info {
  --ch-current-block: var(--ch-info);
}

.custom-block.warning {
  --ch-current-block: var(--ch-warning);
}

.custom-block.danger {
  --ch-current-block: var(--ch-danger);
}

.custom-block.details {
  position: relative;
  display: block;
  border-radius: 2px;
  margin: 1.6em 0;
  padding: 1.6em;
  background-color: var(--c-bgbox);
}

.custom-block.details h4 {
  margin-top: 0;
}

.custom-block.details figure:last-child,
.custom-block.details p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.custom-block.details summary {
  outline: none;
  cursor: pointer;
}

.custom-block-title {
  margin-bottom: -0.4rem;
  --weight: var(--xbold);
}
