/** Base Styles */
:root {
  /**
   * Typography
   * --------------------------------------------------------------------- */

  /**
   * Z Indexes
   *
   * Algolia SearchBox has a z-index of 200, so make sure not to go above
   * that value.
   * --------------------------------------------------------------------- */

  --z-index-navbar: 10;
  --z-index-sidebar: 6;

  /**
   * Sizes
   * --------------------------------------------------------------------- */

  --header-height: 3.6rem;
}

/** Fallback Styles */
:root {
  --code-line-height: 1.7;
  --code-font-family: var(--mono-font);
  --code-scale: var(--scale0);
  --code-bg-color: var(--c-code-bg);
  --code-weight: 500;
}
