{"jsc":{"parser":{"syntax":"typescript","importAssertions":true,"topLevelAwait":true,"importMeta":true,"privateMethod":true,"dynamicImport":true},"target":"es2016","experimental":{"keepImportAssertions":true}}}
