:root {
  /* --ch-tip: 50deg; */
  --ch-tip: 79deg;
}

main.home ul > li {
  opacity: 0.8;
  transition: 0.1s ease;
}

main.home ul > li:hover {
  opacity: 1;
}

main.home {
  position: relative;
  overflow-x: hidden;
}

main.home::before {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -1;
  background-image: url("/bg.png");
  background-repeat: repeat;
  background-size: 50%;
}

@media screen and (max-width: 768px) {
  main.home {
    background-size: 100%;
  }
}

main.home {
  background: radial-gradient(
      ellipse,
      rgba(var(--bg-gradient), 1) 50%,
      rgba(var(--bg-gradient), 0.4) 120%
    ),
    radial-gradient(
      ellipse at top,
      rgba(var(--bg-gradient), 0.8) 20%,
      rgba(var(--bg-gradient), 0) 100%
    ),
    radial-gradient(
      ellipse at left,
      rgba(var(--bg-gradient), 0.6) 20%,
      rgba(var(--bg-gradient), 0) 100%
    ),
    radial-gradient(
      ellipse at right,
      rgba(var(--bg-gradient), 0.6) 20%,
      rgba(var(--bg-gradient), 0) 100%
    );
}

.nav-bar-title .logo {
  height: 1.5em !important;
  margin-right: 0.5rem !important;
}

/* Overrides */

.home-content {
  max-width: 1800px !important;
}

/* h3 breaks SEO => replaced with h2 with the same size */
.home-content h2 {
  margin-top: 2rem;
  --font-size: 1.35rem;
  border-bottom: none;
  margin-bottom: 0;
}

img.resizable-img {
  width: unset;
  height: unset;
}

.DocSearch-Modal {
  --docsearch-logo-color: var(--c-brand);
}

@media (prefers-color-scheme: dark) {
  .algolia-search-box > button {
    --docsearch-searchbox-background: transparent;
    --docsearch-searchbox-focus-background: var(
      --docsearch-searchbox-background
    );
    --docsearch-text-color: var(--c-text);
    --docsearch-key-gradient: linear-gradient(
      -225deg,
      --docsearch-searchbox-background,
      --docsearch-searchbox-background
    );
  }
  .algolia-search-box > button:hover {
    --c-brand: var(--c-brand-dim);
    --docsearch-text-color: var(--c-brand-dim);
    --docsearch-muted-color: var(--c-brand-dim);
  }
  .algolia-search-box
    > button:hover
    > .DocSearch-Button-Keys
    > .DocSearch-Button-Key {
    --current-color: var(--c-brand-dim);
    box-shadow: inset 0 -1px 0 0 var(--docsearch-muted-color),
      inset 0 0 1px 1px var(--docsearch-muted-color),
      0 1px 1px 1px var(--docsearch-muted-color);
  }
  .DocSearch-Modal {
    --docsearch-modal-background: var(--c-text-bright);
    --docsearch-primary-color: var(--c-brand-dim);
    --docsearch-highlight-color: var(--docsearch-primary-color);
    --docsearch-searchbox-shadow: inset 0 0 0 2px var(--docsearch-primary-color);
    --docsearch-text-color: var(--c-text-dimmer);
    --docsearch-muted-color: var(--c-text-lighter);
    --docsearch-searchbox-background: var(--c-text-bright);
    --docsearch-searchbox-focus-background: var(--c-text-bright);
    --docsearch-footer-background: var(--c-text-bright);
    --docsearch-modal-shadow: none;
  }
  .DocSearch-Commands-Key {
    --current-color: var(--c-brand-dim);
    --docsearch-text-color: var(--c-brand-dim);
    --docsearch-highlight-color: var(--docsearch-text-color);
  }
  .DocSearch-Dropdown {
    scrollbar-color: var(--cm-ttc-c-thumb) var(--cm-ttc-c-track) !important;
  }
  .DocSearch-Dropdown::-webkit-scrollbar-track {
    background: var(--cm-ttc-c-track) !important;
  }
  .DocSearch-Dropdown::-webkit-scrollbar-thumb {
    background-color: var(--cm-ttc-c-thumb) !important;
    border: 2px solid var(--cm-ttc-c-thumb) !important;
  }
  .DocSearch-Footer {
    --docsearch-footer-shadow: 0 -1px 0 0 var(--c-text-dimmer),
      0 -3px 6px 0 rgba(var(--ch-divider), 98, 155, var(--a-shadow-4));
    --docsearch-key-gradient: linear-gradient(
      -225deg,
      --docsearch-searchbox-background,
      --docsearch-searchbox-background
    );
    --docsearch-key-shadow: inset 0 -1px 0 0 var(--c-brand-dim),
      inset 0 0 1px 1px var(--c-brand-dim), 0 1px 1px 1px var(--c-brand-dim);
  }
  .DocSearch-Hit > a {
    --docsearch-hit-background: transparent;
    --docsearch-hit-shadow: none;
    border: 1px solid var(--c-brand-dim);
  }
  .DocSearch-Hit-Container {
    --docsearch-hit-color: var(--c-text-dimmer);
  }
  .DocSearch-Hit[aria-selected="true"] a {
    --docsearch-highlight-color: var(--c-brand-bright);
  }
  .DocSearch-Hit[aria-selected="true"] .DocSearch-Hit-action,
  .DocSearch-Hit[aria-selected="true"] .DocSearch-Hit-icon,
  .DocSearch-Hit[aria-selected="true"] .DocSearch-Hit-path,
  .DocSearch-Hit[aria-selected="true"] .DocSearch-Hit-text,
  .DocSearch-Hit[aria-selected="true"] .DocSearch-Hit-title,
  .DocSearch-Hit[aria-selected="true"] .DocSearch-Hit-Tree {
    --docsearch-hit-active-color: var(--c-text-bright);
  }
  .DocSearch-Hit[aria-selected="true"] mark {
    --docsearch-hit-active-color: var(--c-text-bright);
  }
  .DocSearch-Reset {
    --docsearch-icon-color: var(--c-text-dimmer);
  }
}
