.VPDoc {
  :is(h1, h2, h3, h4, h5, h6) + div.generics {
    > dl.generics {
      margin-block-start: 0;
    }
  }

  div.generics {
    display: grid;
    grid-template-columns: max-content max-content 1fr;
    margin-block-start: 1ex;
    margin-block-end: 0;
    align-items: baseline;

    column-gap: 1ch;

    > dl {
      > dt::before {
        font-family: var(--icons);
        content: "subdirectory_arrow_right";
        grid-column: 1;
      }
    }
  }
}
