.VPDoc {
  div.docs {
    code {
      background-color: var(--vp-c-bg-soft);
    }

    > p:first-child {
      margin-block-start: 0;
    }

    > p:last-child {
      margin-block-end: 0;
    }
  }
}
