.VPDoc {
  [class*="language-"] > span.copy {
    top: initial;
    bottom: 8px;
  }

  code {
    span {
      font-size: 1rem;
      color: hsl(
        var(--sb-hl-hue),
        var(--sb-hl-saturation),
        var(--sb-hl-lightness)
      );
    }

    &.starbeam-inline {
      color: hsl(
        var(--sb-hl-hue),
        var(--sb-hl-saturation),
        var(--sb-hl-lightness)
      );
    }

    &.starbeam-inline.starbeam-bg-alt {
      --sb-hl-lightness: 50%;
      --sb-hl-saturation: 50%;
      background-color: var(--sb-inline-light-bg-c);
      border-color: hsl(var(--hl-kind-ch), 50%, 50%);
      border-style: solid;
      border-width: 1px;
    }

    &.starbeam-inline.starbeam-bg-light {
      --sb-hl-lightness: 35%;
      --sb-hl-saturation: 100%;
      background-color: var(--sb-inline-light-bg-c);
    }

    &.starbeam-inline.starbeam-bg-dark {
      --sb-hl-lightness: 80%;
      background-color: hsl(var(--sb-code-block-ch), 40%, 30%);
    }

    &.starbeam-inline.starbeam-bg-light.starbeam-optional {
      background-color: transparent;
      padding: 0;

      span {
        --sb-hl-hue: var(--sb-hl-docs-ch);
        --sb-hl-saturation: 50%;
        --sb-hl-lightness: 60%;
        font-style: italic;
      }
    }

    span.starbeam-kind {
      --sb-hl-hue: var(--sb-hl-kind-ch);
    }
    span.starbeam-name {
      --sb-hl-hue: var(--sb-hl-name-ch);
    }
    span.starbeam-punct {
      --sb-hl-hue: var(--sb-hl-punct-ch);
    }
    span.starbeam-param {
      --sb-hl-hue: var(--sb-hl-param-ch);
    }
    span.starbeam-type {
      --sb-hl-hue: var(--sb-hl-type-ch);
    }
    span.starbeam-docs {
      --sb-hl-hue: var(--sb-hl-docs-ch);
      --sb-hl-saturation: 25%;
    }
  }

  div[class*="language-"] pre.manual {
    white-space: normal;
    font-size: 0;

    code {
      white-space: normal;

      span.starbeam-name {
        --sb-hl-saturation: 100%;
      }

      span.starbeam-type {
        --sb-hl-saturation: 100%;
      }
    }
  }
}
