.VPDoc {
  div.docs.line,
  dl dd > div.docs {
    display: contents;

    > p {
      display: contents;
      color: hsl(
        var(--sb-fg-accent-hue) var(--sb-fg-accent-saturation)
          var(--sb-fg-lightness-normal)
      );
    }
  }

  dl.docs > dd > p {
    margin-inline-start: 1em;
  }
}

@layer content() {
  .lang-docs.custom-block p > code {
    color: hsl(
      var(--sb-fg-hue) var(--sb-fg-saturation) var(--sb-fg-lightness-bright)
    );
    background-color: hsl(
      var(--sb-bg-hue) var(--sb-bg-saturation) var(--sb-bg-lightness-brightest)
    );
    padding: 0.1em 0.2em;
    font-size: calc(var(--sbdoc-default-font-size) / var(--sbdoc-ratio));
    font-family: var(--vp-font-family-mono);
    font-weight: var(--sb-font-weight-light);
  }
}
