html:not(.dark) {
  --sb-fg-lightness: 50%;
  --sb-fg-saturation: 50%;

  --sb-fg-lightness-dim: 40%;
  --sb-fg-saturation-dim: 40%;
}

html.dark {
  --sb-fg-lightness: 70%;
  --sb-fg-saturation: 30%;

  --sb-fg-lightness-dim: 60%;
  --sb-fg-saturation-dim: 20%;
}

:root {
  --sb-docs-param-color: var(--sb-fg-theme);
}

@using content {
  section.api {
    div.generics {
      margin-block: 0;
    }

    dl.docs {
      display: grid;
      row-gap: var(--sbdoc-default-line-spacing);

      > * {
        margin-block: 0;
      }

      dd > div.docs {
        display: grid;
        grid-template-columns: max-content 1fr;
        column-gap: var(--sbdoc-ui-inline-padding);

        code {
          display: inline-grid;
          place-content: center;
          justify-self: stretch;
        }
      }

      margin-block: 0;
      .starbeam-inline.generic {
        span.starbeam-type {
          color: var(--sb-fg-yellow);
        }
      }

      &:not(.generics) dd {
        margin-inline-start: var(--sbdoc-ui-inner-padding);
        margin-block: 0;

        p {
          font-size: calc(1rem * 0.95);
          color: var(--sb-fg-theme);
          font-weight: 200;
          text-style: italic;
        }
      }
    }
  }

  section.card div.docs {
    display: grid;
    row-gap: var(--sbdoc-default-line-spacing);
  }

  section.card-container {
    h3,
    h4 {
      display: grid;
      column-gap: 1ex;
    }

    .starbeam-tag {
      font-weight: 100;

      &::before {
        content: "(";
      }

      &::after {
        content: ")";
      }
    }

    .starbeam-param {
      span {
        color: var(--sb-fg-highlight);
      }
    }

    code.starbeam-inline {
      &.starbeam-param {
        &:has(.starbeam-name) {
          background-color: var(--sb-fg-theme-ultra);
          span {
            color: var(--sb-fg-theme-dimmer);
          }
        }

        &:has(.starbeam-type) {
          background-color: var(--sb-bg-theme-muted);

          span {
            color: var(--sb-fg-theme-strong);
          }
        }
      }
    }
  }
}

.VPDoc {
  --vp-code-font-size: 0.8rem;
  --vp-code-line-height: 1.7;

  [class*="language-"] {
    > pre {
    }
  }

  [class*="language-"] > span.copy {
    top: initial;
    bottom: 8px;
  }

  code {
    span {
      display: inline-block;
    }

    &.starbeam-inline {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: repeat(auto-fit, max-content);
      align-content: center;
    }

    &.starbeam-inline.starbeam-bg-alt {
      border: 2px solid var(--sb-fg-yellow);

      span {
        color: var(--sb-fg-yellow);
      }
    }

    &.starbeam-inline.starbeam-bg-light {
      background-color: var(--sb-bg-yellow-muted);
      span {
        color: var(--sb-fg-yellow);
      }

      &.starbeam-return {
        background-color: var(--sb-bg-yellow-muted);
        span {
          color: var(--sb-fg-yellow);
        }
      }

      .starbeam-type {
        color: var(--sb-fg-theme-strong);
      }
    }

    &.starbeam-inline.starbeam-bg-dark {
      background-color: var(--sb-fg-theme-ultra);

      .starbeam-kind {
        color: var(--sb-fg-theme-dimmer);
      }
      .starbeam-name {
        color: var(--sb-fg-blue);
      }
      .starbeam-punct {
        color: var(--sb-fg-blue-dimmer);
      }
      .starbeam-param {
        color: var(--sb-fg-theme-dim);
      }
      .starbeam-type {
        color: var(--sb-fg-yellow-dim);
      }
      .starbeam-docs {
        color: var(--sb-fg-theme-strong);
      }
      .starbeam-key {
        color: var(--sb-fg-red-dimmer);
      }
      .starbeam-string {
        color: var(--sb-fg-green);
      }
    }

    &.starbeam-inline.starbeam-bg-light.starbeam-optional {
      background-color: transparent;
      padding: 0;
    }

    span {
      color: red;
    }
    .starbeam-return {
      color: var(--sb-fg-yellow-dim);
    }

    span.starbeam-kind {
      color: var(--sb-fg-theme-dimmer);
    }
    span.starbeam-name {
      color: var(--sb-fg-blue);
    }
    span.starbeam-punct {
      color: var(--sb-fg-blue-dimmer);
    }
    span.starbeam-param {
      color: var(--sb-fg-theme-dim);
    }
    span.starbeam-type {
      color: var(--sb-fg-yellow-dim);
    }
    span.starbeam-docs {
      color: var(--sb-fg-theme-strong);
    }
    span.starbeam-key {
      color: var(--sb-fg-red-dimmer);
    }
    span.starbeam-string {
      color: var(--sb-fg-green);
    }
    span.starbeam-newline {
      white-space: pre;
    }
    span[class*="starbeam-"].dim {
      color: var(--sb-fg-theme-strong);
    }
    span.dim {
      --sb-hl-lightness: 50%;
      --sb-hl-saturation: 0%;
    }
  }

  div[class*="language-"] pre.manual {
    white-space: pre;

    code {
      span {
        display: inline;
      }

      span.starbeam-name {
        --sb-hl-saturation: 100%;
      }

      span.starbeam-type {
        --sb-hl-saturation: 100%;
      }
    }
  }
}
