@import "./code-blocks.css";
@import "./api/section.css";
@import "./api/toc.css";
@import "./api/docs.css";
@import "./api/prose.css";
@import "./api/syntax.css";
@import "./api/generics.css";

@using content {
  p,
  mark,
  em,
  strong {
    code {
      @extend %accented;

      display: inline-block;
      line-height: var(--sbdoc-line-height);
    }
  }

  mark {
    display: inline;
    line-height: var(--sbdoc-line-height);
    padding-inline: 2px;
    --sbdoc-local-accent-fg: var(--sb-fg-yellow-strong);
    --sbdoc-local-accent-bg: var(--sb-bg-yellow-ultramuted);
    --sbdoc-local-accent-border: var(--sb-fg-yellow-muted);
  }

  .lang-docs.custom-block p > code {
    color: hsl(
      var(--sb-fg-hue) var(--sb-fg-saturation) var(--sb-fg-lightness-bright)
    );
    background-color: hsl(
      var(--sb-bg-hue) var(--sb-bg-saturation) var(--sb-bg-lightness-brightest)
    );
    padding: var(--sb-nested-inline-code-padding);
    font-size: calc(var(--sb-font-size) * var(--sb-ratio-down1));
    font-family: var(--vp-font-family-mono);
    font-weight: var(--sb-font-weight-light);
  }
}
