:root {
  --size0: 16px;
  --size1: calc(var(--size0) * var(--starbeam-ratio));

  --t-font-body: "Readex Pro", sans-serif;
  --t-font-mono: "Azeret Mono", monospace;
  --t-font-fancy: "Comfortaa", sans-serif;
  --t-font-em: "Sofia Sans", sans-serif;
}

h1 {
  font-family: var(--t-font-fancy);
  font-size: var(--size1);
  font-weight: 900;
}
