:root {
  --mermaid-font-family: "Azeret Mono", monospace;
}

.idle > g > circle:first-child {
  stroke: var(--inactive-color-fg) !important;
}

.idle circle {
  fill: var(--inactive-color-bg) !important;
  stroke: var(--inactive-color-bg) !important;
}

.subgraphBody {
  > rect:first-child {
    stroke: transparent !important;
  }

  > .cluster-label {
    foreignObject {
      transform: translateY(-1.5rem);
    }
  }
}

.DescBox {
  > rect:first-child {
    stroke: transparent !important;
    fill: var(--inactive-color-bg) !important;
  }

  div {
    font-size: 0.75rem !important;
    text-align: start !important;
  }
}

.subgraphDescBox {
  > rect:first-child {
    fill: var(--inactive-color-bg) !important;
  }

  div {
    text-align: start !important;
  }
}

.lifecycle {
  polygon,
  rect {
    fill: #fca !important;
    stroke: #975 !important;
  }
}
.next {
  polygon,
  rect {
    fill: #eef !important;
    stroke: #aac !important;
  }
  div,
  span {
    color: #66c !important;
    font-weight: bold !important;
    font-size: 90% !important;
  }
}
.start {
  polygon,
  rect {
    fill: #eef !important;
    stroke: #aac !important;
  }
  div,
  span {
    color: #66c !important;
    font-weight: bold !important;
    font-size: 90% !important;
  }
}
.single {
  polygon,
  rect {
    fill: #ccf !important;
    stroke: #88c !important;
  }
  div,
  span {
    color: #55c !important;
  }
}
.state {
  polygon,
  rect {
    fill: #dfd !important;
    stroke: #4b4 !important;
  }

  div,
  span {
    color: #494 !important;
  }
}
.terminal {
  polygon,
  rect {
    fill: #fcc !important;
    stroke: #c88 !important;
  }

  div,
  span {
    color: #c55 !important;
  }
}
.react {
  polygon,
  rect {
    fill: #99f !important;
    stroke: #339 !important;
  }

  div,
  span {
    color: #009 !important;
  }
}
.async {
  polygon,
  rect {
    fill: #eee !important;
    stroke: #999 !important;
  }

  div,
  span {
    color: #999 !important;
  }
}

.paused {
  polygon,
  rect {
    fill: #eee !important;
    stroke: #999 !important;
  }

  div,
  span {
    color: #999 !important;
  }
}

.graphLabel {
  polygon,
  rect {
    fill: #ccf9 !important;
    stroke: #0099 !important;
  }

  div,
  span {
    color: #009 !important;
  }
}

.note {
  polygon,
  rect {
    fill: #eee !important;
    stroke: #aaa !important;
    color: #999 !important;
  }

  div,
  span {
    text-align: left !important;
  }
}
