:root {
  --color1: #e49be4;
  --color2: #ed1212;
  --color3: #38ffff;
  --color4: #ff52ff;
  --color5: #00e085;
  --color6: #ffa100;
  --color7: #f7b9ff;
  --violet1: var(--color7);
  --violet2: var(--color1);
}
