@using brand {
  $hue: 212;
  $chroma: 0.1;

  :root:not(.dark) {
    $lt: 30%;
    --sb-theme-fg: oklch($lt $chroma $hue);
  }

  :root.dark {
    $lt: 70%;
    --sb-theme-fg: oklch($lt $chroma $hue);
  }

  body {
    color: var(--sb-theme-fg);
  }
}
