:root {
  --icons: "Material Symbols Outlined";

  --sb-hl-kind-ch: 276;
  --sb-hl-kind-c: hsl(var(--sb-hl-kind-ch), 68%, 75%);
  --sb-hl-kind-c-demo: hsl(276, 68%, 75%);

  --sb-hl-name-ch: 221;
  --sb-hl-name-c: hsl(var(--sb-hl-name-ch), 100%, 75%);
  --sb-hl-name-c-demo: hsl(221, 100%, 75%);

  --sb-hl-punct-ch: 197;
  --sb-hl-punct: hsl(var(--sb-hl-punct-ch), 100%, 75%);
  --sb-hl-punct-c-demo: hsl(197, 100%, 75%);

  --sb-hl-param-ch: 231;
  --sb-hl-param-c: hsl(var(--sb-hl-param-ch), 28%, 75%);
  --sb-hl-param-c-demo: hsl(231, 28%, 75%);
  --sb-inline-param-c: hsl(var(--sb-hl-param-ch), 50%, 50%);
  --sb-inline-param-c-demo: hsl(231, 50%, 50%);

  --sb-hl-type-ch: 39;
  --sb-hl-type-c-demo: hsl(39, 100%, 75%);
  --sb-inline-type-c-demo: hsl(39, 50%, 50%);

  --sb-hl-docs-ch: 231;
  --sb-hl-docs-c-demo: hsl(231, 18%, 49%);

  --sb-inline-light-bg-c: var(--vp-c-bg-mute);
  --sb-inline-dark-bg-c: var(--vp-code-block-bg);

  --sb-code-block-ch: 229;

  --sb-hl-hue: var(--sb-hl-kind-ch);
  --sb-hl-saturation: 50%;
  --sb-hl-lightness: 75%;
}

.VPDoc {
  .custom-block div[class*="language-"] code {
    background: transparent;
  }

  section.head-notes {
    h1 {
      border-block-start: 1px solid var(--vp-c-divider-light);
      padding-top: 1rem;
    }
  }

  [class*="language-"] > span.copy {
    top: initial;
    bottom: 8px;
  }

  nav.api-toc {
    margin-block-end: 2rem;

    > h2 {
      border: none;
      margin-block-start: 0;
      padding-block-start: 0;
    }

    > ul {
      display: grid;
      align-items: baseline;
      column-gap: 1ch;
      row-gap: 1em;
      margin: 0;
      padding: 0;

      > li {
        display: grid;
        grid-template-columns: 0.1em max-content 1fr;
        column-gap: 1ch;
        row-gap: 0.5ch;
        margin: 0;
        padding: 0;

        > a {
          grid-column: 1 / span 3;
          display: grid;
          grid-template-columns: max-content 1fr;
          align-items: center;
          column-gap: 0.5ch;

          > span.material-symbols-outlined {
            font-size: 1em;
          }
        }
      }

      ul.api-group {
        display: contents;
        margin-inline-start: 1ch;

        > li {
          display: contents;

          > ul {
            display: contents;
            margin: 0;
            padding: 0;

            > li {
              grid-column: 3;
              display: contents;

              > a {
                display: contents;
              }
              > a::before {
                grid-column: 2;
                justify-self: end;
                content: attr(data-kind);
                font-size: 0.8em;
                padding-inline: 0.5em;
                padding-block: 0;
                border-radius: 1ch;
                background: var(--sb-inline-light-bg-c);
                color: hsl(var(--sb-hl-kind-ch), 50%, 50%);
              }
            }
          }
        }
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &.section-head {
      display: grid;
      grid-template-columns: max-content max-content 1fr max-content;
      align-items: center;

      > span.material-symbols-outlined {
        margin-inline-end: 0.2ch;
      }

      a.header-anchor {
        float: initial;
        padding: initial;
        margin: 0 0 0 0.5ch;
      }
    }
  }

  section.group {
    margin-block-start: 1.5rem;
    > :is(h1, h2, h3, h4, h5, h6) {
      margin: 0;
    }
  }

  section:not(.card) + section.card {
    margin-block-start: 2rem;
  }

  section.card + section.card {
    margin-block-start: 1rem;
  }

  section.card {
    display: grid;
    padding: 1.3em 1em;
    border-radius: 4px;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
      0 1px 3px 0 rgb(0 0 0 / 12%);
    border: 1px solid var(--vp-c-divider-light);

    :first-child {
      margin-block-start: 0;
    }

    :last-child {
      margin-block-end: 0;
    }
  }

  details[open] summary::before {
    content: "expand_less";
  }
  summary {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;

    &::before {
      font-size: 1.5em;

      font-family: var(--icons);
      content: "expand_more";
    }
  }

  details:not([open]) summary {
    margin: 0;
    cursor: pointer;
  }

  section + section.signature.card {
    margin-block-start: 5rem;
  }

  section.signature {
    border-block-start: 5px solid var(--vp-c-divider-light);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
      padding: 0;
      border: none;
    }

    div.generics {
      display: grid;
      grid-template-columns: max-content max-content 1fr;
      margin-block-start: 1ex;
      margin-block-end: 0;
      align-items: baseline;

      column-gap: 1ch;

      &::before {
        font-family: var(--icons);
        content: "subdirectory_arrow_right";
      }

      > dl {
        display: contents;
      }
    }
  }

  p.toggler {
    margin: 0;
  }

  .custom-block :not(pre) > code {
    padding: 0;
    font-family: var(--vp-font-family-base-mono);
    color: var(--vp-custom-block-tip-text);
    font-weight: 500;
  }

  section > section {
    margin-block-start: 1rem;
  }

  div.docs {
    code {
      background-color: var(--vp-c-bg-soft);
    }

    > p:first-child {
      margin-block-start: 0;
    }

    > p:last-child {
      margin-block-end: 0;
    }
  }

  div.notes:not(:first-child) {
    margin-block-start: 1rem;
    padding-block-start: 1rem;
    border-block-start: 1px solid var(--vp-c-divider-light);
  }

  dl {
    &.generics {
      display: grid;
      grid-template-columns: max-content 1fr;
      column-gap: 1ch;
    }

    code {
      background-color: var(--vp-code-block-bg);
    }

    dd:empty {
      content: "&nbsp;";
      height: 1rem;
    }

    div.docs.line {
      display: contents;

      > p {
        display: contents;
        color: var(--vp-c-indigo-soft);
      }
    }
  }

  :is(h2, h3, h4, h5, h6) {
    span.starbeam-tag {
      margin-inline-start: 1ch;
      font-weight: 100;

      &:before {
        content: "(";
      }

      &:after {
        content: ")";
      }
    }
  }

  code {
    span {
      font-size: 1rem;
      color: hsl(
        var(--sb-hl-hue),
        var(--sb-hl-saturation),
        var(--sb-hl-lightness)
      );
    }

    &.starbeam-inline {
      color: hsl(
        var(--sb-hl-hue),
        var(--sb-hl-saturation),
        var(--sb-hl-lightness)
      );
    }

    &.starbeam-inline.starbeam-bg-alt {
      --sb-hl-lightness: 50%;
      --sb-hl-saturation: 50%;
      background-color: var(--sb-inline-light-bg-c);
      border-color: hsl(var(--hl-kind-ch), 50%, 50%);
      border-style: solid;
      border-width: 1px;
    }

    &.starbeam-inline.starbeam-bg-light {
      --sb-hl-lightness: 35%;
      --sb-hl-saturation: 100%;
      background-color: var(--sb-inline-light-bg-c);
    }

    &.starbeam-inline.starbeam-bg-dark {
      --sb-hl-lightness: 80%;
      background-color: hsl(var(--sb-code-block-ch), 40%, 30%);
    }

    &.starbeam-inline.starbeam-bg-light.starbeam-optional {
      background-color: transparent;
      padding: 0;

      span {
        --sb-hl-hue: var(--sb-hl-docs-ch);
        --sb-hl-saturation: 50%;
        --sb-hl-lightness: 60%;
        font-style: italic;
      }
    }

    span.starbeam-kind {
      --sb-hl-hue: var(--sb-hl-kind-ch);
    }
    span.starbeam-name {
      --sb-hl-hue: var(--sb-hl-name-ch);
    }
    span.starbeam-punct {
      --sb-hl-hue: var(--sb-hl-punct-ch);
    }
    span.starbeam-param {
      --sb-hl-hue: var(--sb-hl-param-ch);
    }
    span.starbeam-type {
      --sb-hl-hue: var(--sb-hl-type-ch);
    }
    span.starbeam-docs {
      --sb-hl-hue: var(--sb-hl-docs-ch);
      --sb-hl-saturation: 25%;
    }
  }

  div[class*="language-"] pre.manual {
    white-space: normal;
    font-size: 0;

    code {
      white-space: normal;

      span.starbeam-name {
        --sb-hl-saturation: 100%;
      }

      span.starbeam-type {
        --sb-hl-saturation: 100%;
      }
    }
  }

  dl.docs {
    margin: 0.5em 0 0 1em;

    > dd {
      margin-inline-start: 0;
    }

    p {
      margin-block-start: 0;
    }
  }
}
