.custom-block {
  &.info {
    > .custom-block-title {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 0.2rem;

      &::before {
        content: "💁";
      }
    }
  }

  em {
    font-weight: 650;
    background-color: var(--vp-c-yellow-lighter);
  }
}
