:root {
  --starbeam-radius: 0.5rem;
  --starbeam-radius-sm: 0.25rem;
  --starbeam-radius-xsm: 0.15rem;
}

@value radius: var(--starbeam-radius);
@value radius-sm: var(--starbeam-radius-sm);
@value radius-xsm: var(--starbeam-radius-xsm);
