.vp-doc p,
.vp-doc summary {
  margin: var(--starbeam-p-break) 0;
}

.vp-doc p {
  line-height: var(--starbeam-p-leading);
}

.vp-doc :not(pre) > code {
  padding: var(--starbeam-inline-code-padding);
}
