@layer content() {
  .code-tabs {
    --local-bg-active: var(--sb-bg-gray-dimmer);
    --local-bg-inactive: var(--sb-bg-gray-strong);
  }

  .code-tabs-nav {
    overflow-x: auto;

    margin: 0.85rem 0 0 0;
    padding: 0;
    border-radius: 6px 6px 0 0;

    background-color: var(--local-bg-inactive);
    list-style: none;

    white-space: nowrap;

    transition: background-color var(--color-transition, 0.3s ease);

    @media (max-width: 760px) {
      margin-right: -1.5rem;
      margin-left: -1.5rem;
      border-radius: 0;
    }
  }

  .code-tabs-nav-tab {
    @extend %button;

    position: relative;

    min-width: 3rem;
    margin: 0;
    padding: 6px 10px;
    border-radius: 6px 6px 0 0;

    background-color: transparent;
    color: var(--sb-fg-gray-strong);
    text-align: center;

    font-weight: var(--sb-font-weight-label);
    font-size: 0.85em;
    line-height: 1.4;

    cursor: pointer;

    transition: background-color var(--color-transition, 0.3s ease),
      color var(--color-transition, 0.3s ease);

    &:hover {
      background-color: var(--code-tabs-nav-hover-color, var(--sb-bg-gray-dim));
    }

    &::before,
    &::after {
      content: " ";

      position: absolute;
      bottom: 0;
      z-index: 1;

      width: 6px;
      height: 6px;
    }

    &::before {
      right: 100%;
    }

    &::after {
      left: 100%;
    }

    &.active {
      color: var(--sb-fg-gray-muted);
      background-color: var(--local-bg-active);
      font-weight: var(--sb-font-weight-title);

      &::before {
        background: radial-gradient(
          12px at left top,
          transparent 50%,
          var(--local-bg-active) 50%
        );
      }

      &::after {
        background: radial-gradient(
          12px at right top,
          transparent 50%,
          var(--local-bg-active) 50%
        );
      }
    }

    &:first-child {
      &::before {
        display: none;
      }
    }
  }

  .code-tab {
    display: none;

    &.active {
      display: block;
      width: calc(100cqi - 2px);
    }

    .shiki.github-dark {
      display: initial;
      code {
        background-color: var(--local-bg-active);
      }
    }

    .shiki.github-light {
      display: none;
    }

    /* TODO: Use custom shiki selector */
    div[class*="language-"]:not(.language-id) {
      box-shadow: 2px 2px var(--sb-fg-theme), 2px 0px var(--sb-fg-theme);
      border-end-end-radius: var(--sbdoc-radius);
      border-end-start-radius: var(--sbdoc-radius);
      border-block-start: none;

      &,
      & code {
        border-start-start-radius: 0;
        border-start-end-radius: 0;
      }
    }

    > div[class*="language-"] {
      &,
      & > pre {
        margin: 0;
      }

      @media (max-width: 760px) {
        margin: 0 -1.5rem;
      }
    }
  }
}
