@import "./custom-block.extends.css";
@import "./code-tabs.css";

@using content {
  @layer theme {
    @section em {
      blockquote.em {
        @extend %border-is, %container;
        --sbdoc-local-border-size: 2px;
        --sbdoc-local-fg: var(--sb-fg-orange-dim);
        --sbdoc-local-font-size: calc(1rem * var(--sbdoc-up));
        --sbdoc-local-font-weight: 600;
        padding-inline-start: var(--sbdoc-ui-inner-padding);
      }
    }

    @section ts-lang {
      .content-block.lang-ts {
        position: relative;
        display: none;
        background-color: var(--sb-bg-blue-muted);
        padding: var(--sbdoc-ui-inner-padding-xsm) var(--sbdoc-ui-inner-padding);
        border: initial;
        border-radius: initial;

        > p > code {
          display: inline-block;
          padding-inline: var(--sbdoc-ui-inner-padding);
        }
      }

      .content-block.lang-ts::before {
        content: "TS";
        display: grid;
        position: absolute;
        line-height: 1.3;
        width: max-content;
        aspect-ratio: 1/1;
        align-content: center;
        right: 0;
        padding: 0.3em;
        background-color: var(--sb-bg-blue-stronger);
        color: var(--sb-fg-blue);
      }
    }
  }

  @section tip {
    .content-block {
      &.tip,
      &.info,
      &.warning {
        background-color: var(--sbdoc-local-bg);
        color: var(--sbdoc-local-fg);
        border: var(--sbdoc-border-size) solid var(--sbdoc-local-border-color);
      }
    }

    .content-block.tip {
      background-color: var(--sb-bg-green-ultramuted);
      --sbdoc-local-fg: var(--sb-fg-green-strongest);

      a {
        color: var(--sb-fg-green);
      }

      a:hover {
        color: var(--sb-fg-green-strong);
        text-decoration: underline;
      }

      blockquote {
        margin: initial;
        padding: initial;
        border: initial;

        display: grid;
        grid-template-columns: max-content 1fr max-content;
        column-gap: var(--sbdoc-ui-inner-padding);

        p {
          color: var(--sb-fg-blue-strong);
        }

        &::before,
        &::after {
          line-height: 1;
          font-size: calc(var(--sbdoc-font-size) * pow(var(--sbdoc-up), 4));
          font-weight: bold;
          color: var(--sb-fg-blue-dimmer);
        }

        &::before {
          content: "“";
          align-self: first baseline;
        }

        &::after {
          content: ",,";
          align-self: last baseline;
          letter-spacing: -0.06em;
        }
      }
    }
  }

  @section reset {
    details.custom-block {
      margin: initial;
      padding: initial;
    }

    p {
      margin: initial;
    }
  }
}

@layer theme {
  body[data-lang="ts"] #app .vp-doc .content-block.lang-ts {
    display: block;
  }
}
